.copyright {
    padding-top: 1000px;
    .gamecreator {
        background-color: #cdcdcd;
        text-align: center;
    }
    .websitecreator {
        background-color: #cdcdcd;
        text-align: center;
    }
}